body {
    background-image: url();
    background-size:auto;
    border: 1% solid #000000;
}


section {
    margin: 7% 7% 7% 7%;
    padding: 8% 8% 8% 8%;
    background-color: #28273542;
}


  /* Style page content */
  .main {
    top: 1;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #1615203b;

    h1 {
        color: #d3b04e;
        font-size: 50px;
    }
    h2 {
        color:bisque;
    }
    h3 {
        color:#796a4a;
    }
    p {
        color: #bdb7ac;
    }
    .Pokemon {
        font: 40px;
        border: 3px solid #d6ba6e;
        background-color: bisque;
        color: #a38635;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .Pokemon:hover {
        background-color: rgb(160, 141, 118);
        border: 3px solid #6b5d36;
        color: #dbbb64;
    }
    .Magic {
        font: 40px;
        background-color: rgb(17, 17, 17);
        border: 3px solid #000000;
        color: #313131;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .Magic:hover {
        background-color: rgb(7, 7, 7);
        border: 3px solid #070707;
        color: #1a1a1a;
    }
    .Yugioh {
        font: 40px;
        background-color: rgb(17, 17, 17);
        border: 3px solid #000000;
        color: #313131;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .Yugioh:hover {
        background-color: rgb(7, 7, 7);
        border: 3px solid #070707;
        color: #1a1a1a;
    }
    a {
        padding-bottom: 5px;
    }
  }